
<h1>Catálogo de Cafés</h1>

<p>Página {{page}} de {{totalPages}}</p>

<ul>
  {{#each payload}}
    <li>
      <strong>{{this.title}}</strong> — ${{this.price}} — Cat: {{this.category}}
      <button class="add-to-cart" data-id="{{this._id}}">Agregar al carrito</button>
      <a href="/products/{{this._id}}">Ver</a>
    </li>
  {{/each}}
</ul>

<nav>
  {{#if hasPrevPage}}
    <a href="{{prevLink}}">⬅ Página anterior</a>
  {{/if}}
  {{#if hasNextPage}}
    <a href="{{nextLink}}">Página siguiente ➡</a>
  {{/if}}
</nav>

<script src="/src/public/js/products.js"></script>